<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Microsoft.CodeAnalysis" version="4.13.0" manuallyInstalled="true" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.11.0" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.13.0" manuallyInstalled="true" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="4.13.0" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.13.0" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="4.13.0" />
  <package id="System.Composition" version="8.0.0" />
  <package id="System.Composition.AttributedModel" version="8.0.0" />
  <package id="System.Composition.Convention" version="8.0.0" />
  <package id="System.Composition.Hosting" version="8.0.0" />
  <package id="System.Composition.Runtime" version="8.0.0" />
  <package id="System.Composition.TypedParts" version="8.0.0" />
  <package id="System.Reflection.Metadata" version="9.0.4" manuallyInstalled="true" />
</packages>